@mentor-delete-width: 150px;
@mentor-expand-width: 15px;

@mentor-name-width: calc(100% - @mentor-delete-width - @mentor-expand-width);

.mentor-table {
  display: flex;
  flex-wrap: wrap;
  width:100%;
  justify-content: flex-end;
}
.mentor-name-row,.mentee-name-row {
  padding: 10px 15px 10px 15px;
  width: @mentor-name-width;
  display: inline-block;
  border-bottom: 1px solid #d3e0e9;
}
.mentor-delete-row,.mentee-delete-row {
  padding: 10px 15px 10px 15px;
  width: @mentor-delete-width;
  display: inline-block;
  text-align: right;
  border-bottom: 1px solid #d3e0e9;
}
.mentor-name-row {
  border-top: 1px solid #d3e0e9;
  vertical-align: middle;
}
.mentee-name-row {
  padding: 6px 15px 5px 25px;
}
.mentee-delete-row {
  padding: 5px 25px 5px 25px;
}
.mentees {
  width: 100;
  display: flex;
  flex-wrap: wrap;
}
.mentor {
  width: 100%;
}
.mentor form {
  display: inline;
}
.mentees h3 {
  width: 100%;
  display: inline-block;
  margin: 0 15px 0 15px;
  padding: 5px 15px 5px 10px;
  font-size: 1em;
  border-bottom: 1px solid #d3e0e9;
  background-color: lightgrey;
}
.mentor-expand {
  width: @mentor-expand-width;
}