// Customise tooltips.js in the calendar
.body-cal .tooltip .tooltip-inner  {
    background-color:rgb(66, 66, 66);
}
.body-cal .tooltip .tooltip-arrow {
    border-top-color: rgb(66, 66, 66);
}

.calendar-page {
    max-width: 750px;
    width: 95%;
    margin: auto;
}

.calendar-header {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.calendar-header .new-report {
    font-size: 16px;
}
  
.calendar-header .new-planned-session {
    text-align: right;
    font-size: 16px;
}

.calendar-header .new-planned-session a {
    color: @calendar-planned-session-colour;
}

.calendar-header .new-leave {
    text-align: right;
    font-size: 16px;
}

.calendar-header .new-leave a {
    color: @calendar-mentor-leave-colour;
}

.calendar-body {
    margin-top: 20px;
}
