// Document upload
.documents.upload {
    .dropbox {
        outline: 2px dashed white; /* the dash box */
        outline-offset: -10px;
        background: @brand-primary;
        color: white;
        padding: 10px 10px;
        min-height: 200px; /* minimum height */
        position: relative;
        cursor: pointer;

        .input-file {
            opacity: 0; /* invisible but it's there! */
            width: 100%;
            height: 200px;
            position: absolute;
            cursor: pointer;
        }
        p {
            font-size: 2.0em;
            text-align: center;
            padding: 50px 0;
        }
    }

    .dropbox:hover {
        background: lighten(@brand-primary, 15%); /* when mouse over to the drop zone, change color */
    }

    .uploads.container {
        width:100%;

        .uploads.table {
            .large-file {
                color: red;
            }
            .remove { 
                max-width: 20px;
            }
            .file-size { 
                max-width: 60px;
            }
            .file-name {
                max-width: 100px;
            }
            .file-name span {
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                display: inline-block;
                max-width: 100%;
            }
            .title input {
                width:100%
            }
        }
    }
}


// Document browser / manager
.documents.home {
    .upload.link {
        margin-bottom: 10px;
    }
}
.documents.browse {
    .list {
        .popper {
            color: inherit;
            background-color: white;
            border-radius: 5px;
            box-shadow: rgba(102, 96, 96, 0.74) 0 0 5px 0;
            padding-left: 5px;
            padding-right: 5px;
        }
        .item {
            .preview {
                width: 20px;
                text-align:center;
            }
            .title {
                max-width: 200px;
                
                .title-container {
                    white-space: nowrap;
                    overflow: hidden;
                    text-overflow: ellipsis;
                    display: inline-block;
                    max-width: 100%;
                }
            }
            .actions {
                width: 200px;

                .spinner {
                    border: 2px solid #f3f3f3;
                    border-top: 2px solid @brand-primary;
                    border-radius: 50%;
                    width: 15px;
                    height: 15px;
                    animation: spin 2s linear infinite;
                    @keyframes spin {
                        0% { transform: rotate(0deg); }
                        100% { transform: rotate(360deg); }
                    }
                }
                .action {
                    display: inline-flex;
                }
            }
        }
        .pagination-bar {
            .page-size-list {
                float: left !important;
            }
            .page-selector {
                float: right !important;

                .pagination {
                    margin: inherit;
                }
            }
        }
    }
    .search {
        display: flex;
        margin-top: 10px;
        margin-bottom: 10px;

        .buttons {
            display: inherit;

            .clear {
                max-height: 35px;
                align-items: center;
            }
        }
    }
    .tagger {
        margin: 15px;

        .spacer {
            height: 200px;
            border: 0px;
        }
        .done {
            margin-top: 15px;
            width: 100%;
        }
        .entry {
            .description {
                margin-bottom: 15px;
            }
        }
    }
    .tags-input {
        width: 100%;
        max-width: none;

        .ti-input {
            .ti-tags {
                .ti-tag {
                    font-size: 15px;
                    background-color: #A41250;
                }
                .ti-tag.ti-deletion-mark {
                    background-color: #ff0000;
                }
            }
        }

        .ti-autocomplete {
            // to enable scroll on long autocomplete list
            overflow-y: auto; 
            max-height: 200px;

            .ti-selected-item {
                background-color: #e84e1b;
            }
        }
    } 
}

.icon-flipped {
    transform: scaleX(-1);
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}